*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
photos
photos/*
tmp
.DS_Store
.idea/
=======
*.pyc
__pycache__/

temporals_audios/*

*node_modules/
*.sass-cache/
static/bower_components/